In [121]:
#Tarea 5, 2do intento. esta vez solo haciendo los métodos para obtener 
#el empleado más antiguo y el menos antiguo

In [2]:
class Array:
    def __init__( self , tam ):
        self.__tamanio = tam
        self.__data = [ 0 for x in range(self.__tamanio) ]

    def to_string( self ):
        info = ""
        for dato in self.__data:
            info = info + str(dato) +"|"
        return info

    def get_item( self , index ):
        return self.__data[index]

    def get_length( self ):
        return len( self.__data )

    def set_item( self , dato , index):
    # hace falta revisar limites
        if index >= 0 and index < self.get_length():
            self.__data[index] = dato
        else:
            print("Error: indice fuera de rango")

    def clear( self , dato ):
        self.__data = [ dato for x in range(self.__tamanio) ]

ejemplo = Array(20)

In [3]:
!ls -la

total 20
drwxr-xr-x 1 root root 4096 Oct 13 15:05 .
drwxr-xr-x 1 root root 4096 Oct 13 14:55 ..
drwxr-xr-x 4 root root 4096 Oct  8 13:44 .config
-rw-r--r-- 1 root root  638 Oct 13 15:05 junio.dat
drwxr-xr-x 1 root root 4096 Oct  8 13:45 sample_data

In [4]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [115]:
archivo = open('junio.dat', 'rt', encoding='latin-1')
print(archivo.readlines())

In [78]:
class Trabajador:
    def __init__(self, nt, nom , pat , mat , he, sb, ai):
        self.__numero_trabajador = nt
        self.__nombre = nom
        self.__paterno = pat
        self.__materno = mat
        self.__horas_extra = he
        self.__sueldo_base = sb
        self.__anio_ingreso = ai
#metodos de acceso
    def set_numero_trabajador(self, nt):
        self.__numero_trabajador = nt 

    def get_numero_trabajador(self):
        return self.__numero_trabajador

    def set_nombre(self, nom):
        self.__nombres=nom

    def get_nombre(self):
        return self.__nombre

    def set_paterno(self, pat):
        self.__nombre_paterno=pat

    def get_paterno(self):
        return self.__paterno

    def set_materno(self, mat):
        self.__materno=mat

    def get_materno(self):
        return self.__materno

    def set_horas_extra(self, he):
        self.__horas_extras=he

    def get_horas_extra(self):
        return self.__horas_extra

    def set_sueldo_base(self, sb):
        self.__sueldo_base=sb

    def get_sueldo_base(self):
        return self.__sueldo_base

    def set_nombre(self, nom):
        self.__nombre = nom
    
    def get_nombre(self):
        return self.__nombre
    
    def set_anio_ingreso(self, ai):
        self.__anio_ingreso = ai

    def get_anio_ingreso(self):
        return self.__anio_ingreso

#metodos de uso gnral. 

    def calcular_sueldo_mensual(self):
        anios=2021 - self.get_anio_ingreso()

        sueldo= self.get_sueldo_base()
        #agregarle horas extra
        sueldo+=self.get_horas_extra() * 276.5
        #agregar prestacion por año de antiguedad
        sueldo = sueldo + (sueldo * anios * 0.03)
        return sueldo

    def to_string(self):
        return " Nombre: " + self.__nombre + " Sueldo: $" + str(self.calcular_sueldo_mensual())
        
    def calcular_antiguedad(self):
        return 2021 - self.get_anio_ingreso()

temp = Trabajador(2345,'CARLOS','PEREZ','CASTILLO',1,9850,2017)
print(temp.get_sueldo_base())
print(temp.get_horas_extra())
print(temp.calcular_antiguedad())
print(temp.to_string())

9850
1
4
 Nombre: CARLOS Sueldo: $11341.68

In [120]:
class NominaADT:
    def __init__(self, ruta_archivo):
      #abrir el archivo 
        archivo = open(ruta_archivo, 'rt' , encoding='latin-1')
        empleados = archivo.readlines()
        del empleados[0]
        for index in range(len(empleados)):
            empleados[index]=empleados[index].strip().split(',')
        self.__data=Array(len(empleados))
        cont=0
        for temp in empleados:
            tmp = Trabajador(int(temp[0]), temp[1], temp[2], temp[3], int(temp[4]), int(temp[5]), int(temp[6]))
            self.__data.set_item(tmp , cont)
            cont += 1

    def buscar_mas_antiguo(self):
        archivo = open('junio.dat', 'rt', encoding='latin-1')
        lineas = archivo.read().splitlines() #dividir por lineas y almacenar el archivo en un array
        lineas.pop(0) #eliminar la primera linea
        antiguedad=[]
        for a in lineas:
            #print(archivo.read())
            datos=a.split(',')  #dividir por sus comas el array
            datos[6] = int(datos[6])
            años_antigue = 2021-datos[6] #Obtener los años de antiguedad restando 2021 a datos en pos [6]
            datos.append(años_antigue)  #agregar un años de antiguedad a (posicion 6) a "datos"
            #print(datos) 
            antiguedad.append(datos[1])
            antiguedad.append(datos[2])
            antiguedad.append(datos[3])
            antiguedad.append(datos[7])
            o=[antiguedad[i*4:i*4+4]for i in range(14)]
        mas_antiguo = sorted(o, key=lambda antiguedad : antiguedad[3], reverse=True)
        return print('El empleado más antiguo es: ',mas_antiguo[0], 'el nùmero final son los años trabajando')

    def buscar_menor_antiguedad(self):
        archivo = open('junio.dat', 'rt', encoding='latin-1')
        lineas = archivo.read().splitlines()
        lineas.pop(0) 
        antiguedad=[]
        for a in lineas:
            #print(archivo.read())
            datos=a.split(',')  
            datos[6] = int(datos[6])
            años_antigue = 2021-datos[6]
            datos.append(años_antigue) 
            antiguedad.append(datos[1])
            antiguedad.append(datos[2])
            antiguedad.append(datos[3])
            antiguedad.append(datos[7])
            o=[antiguedad[i*4:i*4+4]for i in range(14)]
        menor_antiguo = sorted(o, key=lambda antiguedad : antiguedad[3], reverse=True)
        return print('El empleado menos antiguo es: ', menor_antiguo[13], 'el nùmero final son los años trabajando')
        
    def calcular_sueldos(self):
        for index in range(self.__data.get_length()):
            print(self.__data.get_item(index).to_string())

            
            #print(datos)  
            #años_antiguedad.append(años_antigue)
            #sorted(lineas, key=lambda antiguedad : antiguedad[6], reverse=True)

ejemplo = NominaADT('junio.dat')
ejemplo.calcular_sueldos()
ejemplo.buscar_mas_antiguo()
ejemplo.buscar_menor_antiguedad()

 Nombre: CARLOS Sueldo: $11032.0
 Nombre: ANGEL Sueldo: $10430.295
 Nombre: JESUS Sueldo: $11963.45
 Nombre: DAVID Sueldo: $11651.36
 Nombre: PEDRO Sueldo: $11651.36
 Nombre: DANIEL Sueldo: $11640.655
 Nombre: ALEJANDRO Sueldo: $11339.27
 Nombre: MARIA Sueldo: $11037.885
 Nombre: ALBERTO Sueldo: $11341.68
 Nombre: RAFAEL Sueldo: $11651.36
 Nombre: FERNANDO Sueldo: $11613.36
 Nombre: PABLO Sueldo: $10734.09
 Nombre: JORGE Sueldo: $10715.09
 Nombre: RAMON Sueldo: $11645.475
El empleado más antiguo es:  ['JESUS', 'MARTIN', 'SANTOS', 5] el nùmero final son los años trabajando
El empleado menos antiguo es:  ['JORGE', 'GUTIERREZ', 'MARQUEZ', 1] el nùmero final son los años trabajando

In [43]:
sueldo_base=100
anio=2019
anti=2
prestacion=100*(2*0.03)
print(sueldo_base + prestacion)

106.0

In [39]:
...

[]