In [ ]:
#el archivo junio.dat contiene datos de trabajadores de una empresa.
#se nos da una estructura (Que yo elimine con la funcion .pop(0), al inicio de la importacion del archivo)
#1: se nos pide calcular el sueldo sumado a las horas extras de cada trabajador
#2: calcular la prestación del 3% del sueldo por año, de cada trabajador (estos dos puntos desarrollados en el bloque numero 6)
#3: que se desplgue en pantalla el trabajador con mayor antiguedad y el de menor antiguedad (BLoque numero 8)
#en este ultimo punto además de desplguegar al trabajador de mayor y menor antiguedad, tambien se despleguigan a todos 
#todos los trabajadores ordenados de mayor a menor antriguedad, con todos sus demás respectivos datos
#Además de esto, al final se encuentran otros 2 metodos de ordenamiento, con tuplas y con el metodo de la burbuja, 
#los hice primeramente y ya no los quise eliminar porque me tarde horas haciendolos);

In [ ]:
!ls -la

total 20
drwxr-xr-x 1 root root 4096 Oct 11 23:42 .
drwxr-xr-x 1 root root 4096 Oct 11 23:41 ..
drwxr-xr-x 4 root root 4096 Oct  8 13:44 .config
-rw-r--r-- 1 root root  638 Oct 11 23:42 junio.dat
drwxr-xr-x 1 root root 4096 Oct  8 13:45 sample_data

In [ ]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [ ]:
#MUESTRA DEL ARCHIVO GUARDADO EN UN ARRAY, CON ESTOS DATOS TRABAJAREMOS ADELANTE
archivo = open('junio.dat', 'rt', encoding='latin-1')
#print(archivo.read())
lineas = archivo.read().splitlines() #dividir por lineas y almacenar el archivo en un array
#print(lineas)
lineas.pop(0) #eliminar la primera linea
for a in lineas:
    linea=a.split(',')  #dividir por sus comas el array
    print(linea)

['2345', 'CARLOS', 'PEREZ', 'CASTILLO', '0', '9850', '2017']
['5754', 'ANGEL', 'GOMEZ', 'GARRIDO', '1', '9850', '2020']
['5345', 'JESUS', 'MARTIN', 'SANTOS', '2', '9850', '2016']
['3267', 'DAVID', 'JIMENEZ', 'LOZANO', '2', '9850', '2017']
['8765', 'PEDRO', 'RUIZ', 'GUERRERO', '2', '9850', '2017']
['5454', 'DANIEL', 'HERNANDEZ', 'CANO', '3', '9850', '2018']
['3456', 'ALEJANDRO', 'DIAZ', 'PRIETO', '2', '9850', '2018']
['3445', 'MARIA', 'MORENO', 'MENDEZ', '1', '9850', '2018']
['9088', 'ALBERTO', 'MU\x84OZ', 'CRUZ', '1', '9850', '2017']
['8877', 'RAFAEL', 'ALVAREZ', 'FLORES', '2', '9850', '2017']
['6767', 'FERNANDO', 'ROMERO', 'HERRERA', '4', '9850', '2019']
['5654', 'PABLO', 'ALONSO', 'GALLEGO', '1', '9850', '2019']
['4323', 'JORGE', 'GUTIERREZ', 'MARQUEZ', '2', '9850', '2020']
['2232', 'RAMON', 'NAVARRO', 'LEON', '1', '9850', '2016']

In [ ]:
class trabajador:
    def __init__(self, nt, nom , pat , mat , he, sb, ai):
        self.__numero_trabajdor = nt
        self.__nombres = nom
        self.__paterno = pat
        self.__materno = mat
        self.__horas_extra = he
        self.__sueldo_base = sb
        self.__anio_ingreso = ai
#metodos de acceso
    def sett_numero_trabajador(self, nt):
        self.__numero_trabajador = nt 
    def set_nombres(self, nom):
        self.__nombres=nom
    def set_nombre_paterno(self, pat):
        self.__nombre_paterno=pat
    def set_nombre_materno(self, mat):
        self.__nombre_materno=mat 
    def set__nombres(self, he):
        self.__horas_extras=he
    def set__nombres(self, ai):
        self.__anios_ant=ai          

#metodos de uso gnral.

In [88]:
class nominaADT:
#metodo para obtener los sueldos de los empleados (punto numero uno)
    def calcular_sueldos(self):
        for a in lineas:
            linea=a.split(',')  #dividir por comas el array
            linea[4] =float(linea[4])
            linea[5]=float(linea[5])
            op = linea[4] * 276.5 #multiplicar las horas extras por el valor del sueldo por hora extra
            #print(op)
            sueldo = op + linea[5] 
            print('Los sueldos de los empleados en orden al archivo .dat son: ',sueldo)
            #datos.append([float(linea[4]), float(linea[5])])
            #print(datos)
#metodo para obtener prestaciones (punto numero dos)
    def prestaciones(self):
        #para calular las prestaciones necesitamos primero calcular los años de antiguedad (3% = 0.03 del sueldo por año de antiguedad)
        for a in lineas: #for para obtener los años de antiguedad
            linea=a.split(',')  #dividir por comas el array
            linea[6] =float(linea[6])
            años_antig = 2021-linea[6]
            #print(años_antig)
            op=0.03*años_antig
            linea[5]=float(linea[5])
            prestaciones=op*linea[5]
            print('prestaciones en orden al archivo: ',prestaciones)

array = nominaADT()
array.calcular_sueldos()
array.prestaciones()
#iterar y hacer calcular de sueldos
    #def buscar_mas_antiguo(self):

Los sueldos de los empleados en orden al archivo .dat son:  9850.0
Los sueldos de los empleados en orden al archivo .dat son:  10126.5
Los sueldos de los empleados en orden al archivo .dat son:  10403.0
Los sueldos de los empleados en orden al archivo .dat son:  10403.0
Los sueldos de los empleados en orden al archivo .dat son:  10403.0
Los sueldos de los empleados en orden al archivo .dat son:  10679.5
Los sueldos de los empleados en orden al archivo .dat son:  10403.0
Los sueldos de los empleados en orden al archivo .dat son:  10126.5
Los sueldos de los empleados en orden al archivo .dat son:  10126.5
Los sueldos de los empleados en orden al archivo .dat son:  10403.0
Los sueldos de los empleados en orden al archivo .dat son:  10956.0
Los sueldos de los empleados en orden al archivo .dat son:  10126.5
Los sueldos de los empleados en orden al archivo .dat son:  10403.0
Los sueldos de los empleados en orden al archivo .dat son:  10126.5
prestaciones en orden al archivo:  1182.0
prestaciones en orden al archivo:  295.5
prestaciones en orden al archivo:  1477.5
prestaciones en orden al archivo:  1182.0
prestaciones en orden al archivo:  1182.0
prestaciones en orden al archivo:  886.5
prestaciones en orden al archivo:  886.5
prestaciones en orden al archivo:  886.5
prestaciones en orden al archivo:  1182.0
prestaciones en orden al archivo:  1182.0
prestaciones en orden al archivo:  591.0
prestaciones en orden al archivo:  591.0
prestaciones en orden al archivo:  295.5
prestaciones en orden al archivo:  1477.5

In [10]:
#EN ESTE BLOQUE DE CODIGO AGREGAREMOS LOS AÑOS DE ANTIGUEDAD DE CADA TRABAJADOR Al array "CODIGO"
#en la posicion 7, nos servira para encontrar el nombre del trabajador con más antiguedad, más adelante
archivo = open('junio.dat', 'rt', encoding='latin-1')
lineas = archivo.read().splitlines() #dividir por lineas y almacenar el archivo en un array
lineas.pop(0) #eliminar la primera linea
for a in lineas:
    #print(archivo.read())
    datos=a.split(',')  #dividir por sus comas el array
    datos[6] = int(datos[6])
    años_antigue = 2021-datos[6] #Obtener los años de antiguedad restando 2021 a datos en pos [6]
    datos.append(años_antigue)  #agregar un años de antiguedad a (posicion 6) a "datos"
    print(datos)  
    #años_antiguedad.append(años_antigue)
#print(años_antiguedad)

['2345', 'CARLOS', 'PEREZ', 'CASTILLO', '0', '9850', 2017, 4]
['5754', 'ANGEL', 'GOMEZ', 'GARRIDO', '1', '9850', 2020, 1]
['5345', 'JESUS', 'MARTIN', 'SANTOS', '2', '9850', 2016, 5]
['3267', 'DAVID', 'JIMENEZ', 'LOZANO', '2', '9850', 2017, 4]
['8765', 'PEDRO', 'RUIZ', 'GUERRERO', '2', '9850', 2017, 4]
['5454', 'DANIEL', 'HERNANDEZ', 'CANO', '3', '9850', 2018, 3]
['3456', 'ALEJANDRO', 'DIAZ', 'PRIETO', '2', '9850', 2018, 3]
['3445', 'MARIA', 'MORENO', 'MENDEZ', '1', '9850', 2018, 3]
['9088', 'ALBERTO', 'MU\x84OZ', 'CRUZ', '1', '9850', 2017, 4]
['8877', 'RAFAEL', 'ALVAREZ', 'FLORES', '2', '9850', 2017, 4]
['6767', 'FERNANDO', 'ROMERO', 'HERRERA', '4', '9850', 2019, 2]
['5654', 'PABLO', 'ALONSO', 'GALLEGO', '1', '9850', 2019, 2]
['4323', 'JORGE', 'GUTIERREZ', 'MARQUEZ', '2', '9850', 2020, 1]
['2232', 'RAMON', 'NAVARRO', 'LEON', '1', '9850', 2016, 5]

In [36]:
#LAS HORAS SON EL ULTIMO DATO DEL ARRAY
#EMPLEADOS ORDENADOS DE MAYOR A MENOR CON SUS DATOS, INCLUIDO LOS NOMBRES, 
class trabajador:
    def __init__(self, nt, nom , pat , mat , he, sb, ai):
        self.__numero_trabajdor = nt
        self.__nombres = nom
        self.__paterno = pat
        self.__materno = mat
        self.__horas_extra = he
        self.__sueldo_base = sb
        self.__anio_ingreso = ai
        self.__antiguedad = ant
    def __repr__(self):
        return repr((self.ant, self.ai, self.sb, self.he, self.mat, self.pat, self.nt))    
sorted(tuplas_datos, key=lambda antiguedad : antiguedad[7], reverse=True)
#SIN embargo segui investigando algunos metodos de ordenamiento y los incluire más adelante
#Pero hasta aquí esta el programa que responde a cada punto de la de tarea

[('5345', 'JESUS', 'MARTIN', 'SANTOS', '2', '9850', 2016, 5),
 ('2232', 'RAMON', 'NAVARRO', 'LEON', '1', '9850', 2016, 5),
 ('2345', 'CARLOS', 'PEREZ', 'CASTILLO', '0', '9850', 2017, 4),
 ('3267', 'DAVID', 'JIMENEZ', 'LOZANO', '2', '9850', 2017, 4),
 ('8765', 'PEDRO', 'RUIZ', 'GUERRERO', '2', '9850', 2017, 4),
 ('9088', 'ALBERTO', 'MU\x84OZ', 'CRUZ', '1', '9850', 2017, 4),
 ('8877', 'RAFAEL', 'ALVAREZ', 'FLORES', '2', '9850', 2017, 4),
 ('5454', 'DANIEL', 'HERNANDEZ', 'CANO', '3', '9850', 2018, 3),
 ('3456', 'ALEJANDRO', 'DIAZ', 'PRIETO', '2', '9850', 2018, 3),
 ('3445', 'MARIA', 'MORENO', 'MENDEZ', '1', '9850', 2018, 3),
 ('6767', 'FERNANDO', 'ROMERO', 'HERRERA', '4', '9850', 2019, 2),
 ('5654', 'PABLO', 'ALONSO', 'GALLEGO', '1', '9850', 2019, 2),
 ('5754', 'ANGEL', 'GOMEZ', 'GARRIDO', '1', '9850', 2020, 1),
 ('4323', 'JORGE', 'GUTIERREZ', 'MARQUEZ', '2', '9850', 2020, 1)]

In [50]:
#ORDENAR DE MAYOR A MENOR antiguedad con forma de tupla, como lo vimos en clase y con ayuda de la función sorted()
#GRCIAS A QUE EN EL ANTERIOR BLOQUE DE CODIGO NOS FACILITAMOS LA OBTENCION DE LOS DATOS COMPLETOS DE CADA TRABAJADOR
#BASTO SOLO CON COPIAR Y PEGAR DENTRO DE UNA TUPLA
tuplas_datos = [
        ('2345', 'CARLOS', 'PEREZ', 'CASTILLO', '0', '9850', 2017, 4),
        ('5754', 'ANGEL', 'GOMEZ', 'GARRIDO', '1', '9850', 2020, 1),
        ('5345', 'JESUS', 'MARTIN', 'SANTOS', '2', '9850', 2016, 5),
        ('3267', 'DAVID', 'JIMENEZ', 'LOZANO', '2', '9850', 2017, 4),
        ('8765', 'PEDRO', 'RUIZ', 'GUERRERO', '2', '9850', 2017, 4),
        ('5454', 'DANIEL', 'HERNANDEZ', 'CANO', '3', '9850', 2018, 3),
        ('3456', 'ALEJANDRO', 'DIAZ', 'PRIETO', '2', '9850', 2018, 3),
        ('3445', 'MARIA', 'MORENO', 'MENDEZ', '1', '9850', 2018, 3),
        ('9088', 'ALBERTO', 'MU\x84OZ', 'CRUZ', '1', '9850', 2017, 4),
        ('8877', 'RAFAEL', 'ALVAREZ', 'FLORES', '2', '9850', 2017, 4),
        ('6767', 'FERNANDO', 'ROMERO', 'HERRERA', '4', '9850', 2019, 2),
        ('5654', 'PABLO', 'ALONSO', 'GALLEGO', '1', '9850', 2019, 2),
        ('4323', 'JORGE', 'GUTIERREZ', 'MARQUEZ', '2', '9850', 2020, 1),
        ('2232', 'RAMON', 'NAVARRO', 'LEON', '1', '9850', 2016, 5)
    ]
# ordenar los datos por año de antiguedad
ordenados = sorted(tuplas_datos, reverse=True, key=lambda antiguedad : antiguedad[7] )
for j in ordenados:
    print(j)

('5345', 'JESUS', 'MARTIN', 'SANTOS', '2', '9850', 2016, 5)
('2232', 'RAMON', 'NAVARRO', 'LEON', '1', '9850', 2016, 5)
('2345', 'CARLOS', 'PEREZ', 'CASTILLO', '0', '9850', 2017, 4)
('3267', 'DAVID', 'JIMENEZ', 'LOZANO', '2', '9850', 2017, 4)
('8765', 'PEDRO', 'RUIZ', 'GUERRERO', '2', '9850', 2017, 4)
('9088', 'ALBERTO', 'MU\x84OZ', 'CRUZ', '1', '9850', 2017, 4)
('8877', 'RAFAEL', 'ALVAREZ', 'FLORES', '2', '9850', 2017, 4)
('5454', 'DANIEL', 'HERNANDEZ', 'CANO', '3', '9850', 2018, 3)
('3456', 'ALEJANDRO', 'DIAZ', 'PRIETO', '2', '9850', 2018, 3)
('3445', 'MARIA', 'MORENO', 'MENDEZ', '1', '9850', 2018, 3)
('6767', 'FERNANDO', 'ROMERO', 'HERRERA', '4', '9850', 2019, 2)
('5654', 'PABLO', 'ALONSO', 'GALLEGO', '1', '9850', 2019, 2)
('5754', 'ANGEL', 'GOMEZ', 'GARRIDO', '1', '9850', 2020, 1)
('4323', 'JORGE', 'GUTIERREZ', 'MARQUEZ', '2', '9850', 2020, 1)

In [25]:
#DE MENOR A MAYOR ANTIGUEDAD USANDO EL METODO BURBUJA Y SIN MOSTRAR LOS DATOS DE CADA TRABAJADOR
i=0
j=1
años_antiguedad=[]
for a in lineas:    #for para hacer toda una lista, unicamente con los años de antiguedad
    linea=a.split(',')  #dividir por comas el array
    linea[6] = float(linea[6])
    años_antigue = 2021-linea[6]
    años_antiguedad.append(años_antigue)
print(años_antiguedad)

    #años antiguedad
    #metodo de la burbuja con 2 bucles for ordenamos el bucle de menor a mayor y despues solo quedari tomar el primero y último de la lista
for recorrido in range (1, len(años_antiguedad)):          
    for pos in range (len(años_antiguedad)-recorrido):
        if (años_antiguedad[pos]>años_antiguedad[pos+1]):
            temp=años_antiguedad[pos]
            años_antiguedad[pos]=años_antiguedad[pos+1]
            años_antiguedad[pos+1] = temp
print('DE MENOR A MAYOR ANTIGUEDAD',años_antiguedad)

[4.0, 1.0, 5.0, 4.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 2.0, 2.0, 1.0, 5.0]
DE MENOR A MAYOR ANTIGUEDAD [1.0, 1.0, 2.0, 2.0, 3.0, 3.0, 3.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 5.0]